/* two divs with id left and right be vertical on phone */
@media screen and (max-width: 800px) {
	#left, #right {
		display: block;
		width: 100%;
		padding: 20px;
		
	}
	.button {
		background-color: #333;
		color: #38ef7d;
		border: 1px solid #38ef7d; /* Green */
		border-radius: 25px;
		padding: 10px;
		text-align: center;
		font-size: 1em;
		font-weight: 400;
	  }
}

/* two divs with id left and right be horizontal on tablet and desktop */
@media screen and (min-width: 800px) {
	#left, #right {
		display: inline-block;
		width: 50%;
		height: 20rem;
	}
	.button {
		display: none;
	  }
	#left {
		float: left;
		width: 45%;
		padding: 20px 0 0 50px;; 

	}
	#right {
		float: right;
		width: 45%;
		padding: 20px 10px 10px 10px;

	}
}

.form__group {
	 position: relative;
	 padding: 15px 0 0;
	 margin-top: 10px;
	 width: 50%;
}
 .form__field {
	 font-family: inherit;
	 width: 7rem;
	 border: 0;
	 border-bottom: 2px solid #ffffff;
	 outline: 0;
	 font-size: 1.3rem;
	 color: #fff;
	 padding: 7px 0;
	 background: transparent;
	 transition: border-color 0.2s;
}
 .form__field:focus {
	 padding-bottom: 6px;
	 border-width: 3px;
	 border-image: linear-gradient(to right, #11994e, #38ef7d);
	 border-image-slice: 1;
}
 .form__field:focus {
	 padding-bottom: 6px;
	 border-width: 3px;
	 border-image: linear-gradient(to right, #11994e, #38ef7d);
	 border-image-slice: 1;
}

/* reset input */
 .form__field:required, .form__field:invalid {
	 box-shadow: none;
}

input {
	border-radius: 0;
  }

  html.dark a, html.dark .nav-link {
	color: #38ef7d;
  }
  html.dark a:hover, html.dark .nav-link:hover {
	color: #11994e;
  }
  html.dark a:focus, html.dark .nav-link:focus{
	color: #11994e;
  }
  

/* stupid things */
::placeholder {color: #38ef7d;}
:-ms-input-placeholder {color: #38ef7d;}